# composer
bin/
vendor/
craft/config/license.key

# vagrant + chef
.vagrant/
chef/nodes/*.json

# environment configuration
.env
*.key
*.crt
*.cert

node_modules/
npm-debug.log
mix-manifest.json
package-lock.json

.idea
storage/logs
storage/runtime
storage/backups

/web/images/
/web/styles/
