/bootstrap/*
/vendor
composer.phar
composer.lock
server.php
.env.*.php
.env.php
.DS_Store
Thumbs.db
nbproject
/app/config/*
/app/database/seeds/*
/app/database/migrations/*
/app/lang/*
/app/start/*
/app/storage/*
/app/tests/*
/public/img/*
