# composer
bin/
vendor/
craft/config/license.key

# vagrant + chef
.vagrant/
chef/nodes/*.json

# environment configuration
.env
*.key
*.crt
*.cert

craft/storage/logs
craft/storage/runtime
craft/storage/backups
