/* About Page */
.jumbotron h1 {
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 1px #333;
}
.marketing p {
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 1.5em;
}
.section-heading {
    font-size: 50px;
    margin-bottom: 40px;
    text-align: center;
    text-decoration: underline;
}
