<!-- HEADER -->
<header>
    <!-- LOGO -->
    <div class="page-header visible-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h1><a href="#" title="GolfPOD">GolfPOD<img src="{{ siteUrl}}/images/golfball.png" alt="GolfPOD" class="logo-ball"/></a></h1>
                </div>
            </div>
        </div>
    </div>
    <!-- END LOGO -->

    <!-- NAVBAR -->
    <div class="navbar-wrapper">
      <div class="container-fluid">
            <div class="navbar navbar-success" role="navigation">
              <div class="container">
                    <div class="row">
                        <div class="navbar-collapse">
                          <ul class="nav">
                            <li class="nav-item">
                                <a href="#" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                              <a href="#" class="nav-link">Games</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">About</a>
                            </li>
                          </ul>
                        </div>
                    </div>
              </div>
            </div>
      </div>
    </div>
    <!-- END NAVBAR -->
</header>
<!-- END HEADER -->
