{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at recipes/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "Games" %}
{% set games = (category is defined) ? craft.entries.section('games').relatedTo(category).all() : craft.entries.section('games').all() %}

{% block content %}
    <!-- GAMES JUMBOTRON -->
    <div id="games-jumbotron" class="jumbotron jumbotron-sm">
        <h1>{{ title }}</h1>
    </div>
    <!-- END GAMES JUMBOTRON -->

    <!-- GAMES FILTER NAVBAR -->
    <div class="container-fluid">
        <div class="row filter-box margin-b-20">
            <div class="container">
                <ul class="nav nav-pills justify-content-center">
                    <li class="nav-item{% if category is not defined %} active{% endif %}">
                        <a class="nav-link" href="{{ url('games') }}">All Games</a>
                    </li>
                    <li class="nav-item{% if category is defined and category.slug == 'putting' %} active{% endif %}">
                        <a class="nav-link" href="{{ url('games/putting') }}">Putting</a>
                    </li>
                    <li class="nav-item{% if category is defined and category.slug == 'chip-pitch-sand'%} active{% endif %}">
                        <a class="nav-link" href="{{ url('games/chip-pitch-sand') }}">Chip/Pitch/Sand</a>
                    </li>
                    <li class="nav-item{% if category is defined and category.slug == 'driving-range'%} active{% endif %}">
                        <a class="nav-link" href="{{ url('games/driving-range') }}">Driving Range</a>
                    </li>
                    <li class="nav-item{% if category is defined and category.slug == 'on-course'%} active{% endif %}">
                        <a class="nav-link" href="{{ url('games/on-course') }}">On Course</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END GAMES FILTER NAVBAR -->

    <!-- GAMES GALLERY -->
    <div class="container">
        <div class="row">
    	{% for entry in games %}
            <div class="col-md-6 col-lg-3 games-grid-entry">
                <div class="thumbnail">
        			<a href="{{ entry.url }}">
                        <img src="{{ url('images/stock01.jpg') }}" alt="{{ entry.title }}" class="img-fluid">
                        <h2>{{ entry.title }}</h2>
                        <p class="category-flag">{{ entry.gameCategory.one() }}</p>
                    </a>
                </div>
    		</div>
    	{% endfor %}
        </div>
    </div>
    <!-- END GAMES GALLERY -->
{% endblock %}
